.bg-box {
  width: 1100px;
  height: 600px;
  background-color: green;
  background-image: url(https://img2.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg),
  url(https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/%D0%81%D0%B6%D0%B8%D0%BA.png/revision/latest?cb=20180209130328&path-prefix=ru)
  ,url(./58eb07b830eab15b56162788.png)
  ,url(photo_2024-04-18_15-02-40.jpg) 
  ,url(./photo_2024-04-18_15-04-13.jpg) ;

  background-size:500px 300px,60px 40px,60px 40px,60px 40px,60px 40px ;
  background-repeat: no-repeat,repeat-y,repeat-y,repeat-x,repeat-x;
  background-position: center,left,right,top,bottom;
}
